// Hospitality colours
// Primary
$jungle-green: #84a98c;
$navy: #2f3e46;

// Secondary
$light-green-tea: #f6fff8;
$stone: #cad2c5;
$sea-green: #52796f;
$pine-green: #354f52;
$error-red: #d64545;

// Theme colour variables
$primary: $navy;
$secondary: $stone;
$tertiary: $sea-green;
$success: $jungle-green;
$danger: $error-red;

$btn-font-weight: initial;
$btn-secondary-text: $primary;

$font-family-sans-serif: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: "Abril Fatface", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace !default;
