$amaranth: #ef2d56;
$black-pearl: #0d1b2a;
$midnight-express: #1b263b;
$chambray: #415a77;
$ship-cove: #778da9;
$black-squeeze: #e0e1dd;
$valencia: #d64545;
$white: #ffffff;

// Theme colour variables
$primary: $black-pearl;
$secondary: $amaranth;
$tertiary: $midnight-express;
$success: $midnight-express;
$danger: $valencia;

$border-radius: 0;

$btn-font-weight: bold;
$btn-secondary-text: $white;

$font-family-sans-serif: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Merriweather", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace;

$body-font-family: $font-family-monospace;
$headings-font-family: $font-family-sans-serif;
