@import '../../../../asset/ui/src/scss/variables';
@import 'swiper/swiper-bundle.css';
@import 'photoswipe/photoswipe.css';

// Main Swiper Gallery loaded on the page
.image-gallery {
  &__swiper {
    padding: 0 2rem;
    .swiper-wrapper {
      align-items: center;
    }

    .image-gallery__svg {
      min-width: 30%;
      width: auto;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }
}

// Photoswipe lightbox gallery target - when opened in the modal
.imageGallery--pswp {
  .pswp__zoom-wrap {
    width: 100%;
    height: 100%;
  }
  .pswp__img--placeholder {
    display: none;
  }
  .pswp__img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    /* height: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}
