.btn-widget {
  display: flex;

  &--alignment-left {
    justify-content: flex-start;
  }
  &--alignment-center {
    justify-content: center;
  }
  &--alignment-right {
    justify-content: flex-end;
  }
}
