@import "Modules/asset/scss/variables";

.call-to-action {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: $white;

  &__background {
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    filter: brightness(0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &--basic {
    height: 50vh;
    height: 50svh;
  }
  &--large-marquee {
    height: 100vh;
    height: 100svh;
  }

  &--left {
    text-align: left;
    .button-strip {
      justify-content: flex-start;
    }
  }
  &--centered {
    text-align: center;
    .button-strip {
      justify-content: center;
    }
  }
  &--right {
    text-align: right;
    .button-strip {
      justify-content: flex-end;
    }
  }
}
