{% import 'button-arrows.html' as buttonArrows %}

<section data-aos="{{ data.widget.animationEffects }}" class="image-gallery container widget-my-spacing">

  <div class="swiper image-gallery__swiper" id="imageGallery" data-image-gallery data-slides="{{ data.widget.displayType}}">
    <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ImageGallery">
      {% for image in data.widget._images %}
        {% set background = apos.image.first(image) %}

        <div id="{{ image._id }}" class="swiper-slide" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a
            itemprop="contentUrl"
            href="{{ apos.attachment.url(background, {size: 'max' }) }}"
            target="_blank"
            class="image-gallery__{{ background.extension }}"
          >
            <img
              src="{{ apos.attachment.url(background, {size: 'full' }) }}"
              alt="{{ background.title }}"
              itemprop="thumbnail"
              class="img-fluid"
            />
          </a>
        </div>
      {% endfor %}
    </div>

    {% render buttonArrows.swiper() %}
  </div>

</section>