.button-strip {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  .btn-widget {
    display: flex;
    align-items: center;
    width: 100%;

    &--alignment-left {
      justify-content: flex-start;
    }
    &--alignment-center {
      justify-content: center;
    }
    &--alignment-right {
      justify-content: flex-end;
    }

    & + .btn-widget {
      margin-top: 20px;
    }

    @media only screen and (min-width: 600px) {
      width: auto;
      & + .btn-widget {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }
}
