<section
  data-aos="{{ data.widget.animationEffects }}"
  class="call-to-action call-to-action--{{ data.widget.style}} call-to-action--{{ data.widget.contentAlignment}}"
>
  {% if data.widget.featureImage.items[0].aposPlaceholder %}
    <div class="call-to-action__background" style="background-image: url({{ data.manager.options.placeholderUrl }})"></div>
  {% else %}
    {% set backgroundImage = apos.image.first(data.widget.featureImage) %}
    <div class="call-to-action__background" style="background-image: url({{ apos.attachment.url(backgroundImage, { size: 'max' }) }})"></div>
  {% endif %}
  <div class="container call-to-action__content">
    {% area data.widget, 'content' %}
  </div>
</section>