@import "../../../../asset/ui/src/scss/variables";

.accordion {
  &__item {
    border-top: 1px solid $primary;
    &:last-child {
      border-bottom: 1px solid $primary;
    }
  }
  &__heading {
    margin: 0;
  }
  &__button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $primary;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:focus-visible {
      outline: none;
    }
    &[aria-expanded="false"] .accordion__button-icon:after {
      content: "\002B";
    }
    &[aria-expanded="true"] .accordion__button-icon:after {
      content: "\2212";
    }
  }
  &__button,
  &__content {
    padding: 1rem 1.5rem;
  }
}
